{% if( isAuth ) %}
    Добро пожаловать, {{ username }}.  <a href="/auth/logout/">Выйти</a>
{% else %}
    <form action="/auth/login" method="post">
        <input type="text" name="login" placeholder="Ваше имя">
        <br>
        <input type="password" name="password" placeholder="Ваш пароль">
        <br>

        <input type="submit">
    </form>
    <a href="/auth/regPage">Зарегистрироваться</a>
{% endif %}