<form method="post" action="/reg/Registr">
<h1>Форма регистрации</h1>
    <input type="text" name="login" placeholder="Ваш логин">
    <br>
    <input type="password" name="password" placeholder="Ваш пароль">
    <br>
    <input type="password" name="password2" placeholder="Повторите пароль">
    <br>
    <input type="email" name="email" placeholder="Ваша почта">
    <br>
    <input type="submit" value="Отправить" >
</form>